$font-family: 'Arial, sans-serif';
$line-height: 1.6;

$background-color: #f4f4f4;
$primary-color: #3b3b3b;
$secondary-color: #ffffff;
$btn-bg-color: #28a745;
$btn-hover-color: #218838;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$border-radius: 5px;
