@use "../utils/variables" as *;

section {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    background-color: $secondary-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    color: #333;
    text-align: center;
  }
  
  .section-color {
    background-color: #e5e5e5;
  }