.btn-formulario {
    background-color: $btn-bg-color;
    color: $secondary-color;
    padding: 10px 20px;
    border: none;
    border-radius: $border-radius;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    text-decoration: none;
  }
  
  .btn-formulario:hover {
    background-color: $btn-hover-color;
  }