@use "../utils/variables" as *;

.reserva-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    padding: 20px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-top: 20px;
  }
  
  .reserva-imagen img {
    max-width: 150px;
    border-radius: $border-radius;
    margin-right: 20px;
  }
  
  .reserva-detalles {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    text-align: left;
  }