@use "../utils/variables" as *;

body {
  font-family: $font-family;
}
  
  h1, h2 {
    color: #333;
    text-align: center;
  }
  
  .p-derecha {
    text-align: right;
    margin-top: 100px;
  }
  
  .p-izquierda {
    text-align: left;
    margin-top: 100px;
  }
  